<h3>Click here to access the <%= link_to "Admin Dashboard", admin_dashboard_index_path %></h3>
<h3>Merchant's Dashboard:</h3>
<p>To navigate to merchant shop, input the url for the merchant using this format: /merchants/merchant_id/dashboard</p>